<form action=<%= taskeeId(task) %> accept-charset="UTF-8" data-remote="true" method="post">
	<input name="_method" type="hidden" value="patch" />
	<input name="utf8" type="hidden" value="✓">
	<input 
		type="hidden" 
		name="taskee[task_id]" 
		id="taskee_task_id" 
		value=<%= task.id %>
	>
	
	<%= 
	taskNotDone = '
		<input 
			value=true
			type="hidden"
			name="taskee[done]" 
			id="taskee_done"
		>
		<input 
			type="submit" 
			name="commit" 
			value="Inform that Task is Done" 
			data-disable-with="Save Task" 
			class="btn btn-dark titleFont grow"
		>'
    taskIsDone = '
    	<strong class=" alert alert-success d-inline-block">
    		You have done this task
    	</strong>
        '

    userHasDone = @taskees.where(:task_id => task.id, :user_id => current_user.id, :done => true)

	if userHasDone.exists? === true
    	render html: taskIsDone.html_safe
    else
    	render html: taskNotDone.html_safe
    end
 %>
</form>



