<form action= <%= "/tasks/"+@task.id.to_s %> accept-charset="UTF-8" data-remote="true" method="post">
	<input name="_method" type="hidden" value="patch" />
	<input name="utf8" type="hidden" value="✓">
	<input 
		type="hidden" 
		name= <%= setName %>
		id= <%= setId  %>
		value="true"
	>
	<%= setButton %>
</form>