<form action= <%= "/tasks/"+task.id.to_s %> accept-charset="UTF-8" data-remote="true" method="post">
	<input name="_method" type="hidden" value="patch" />
	<input name="utf8" type="hidden" value="✓">
	<input 
		type="hidden" 
		name="task[confirmed]" 
		id="task_confirmed" 
		value=<%= changeValueOnConfirmTask(@task.confirmed) %> 
	>
	<input 
		type="submit" 
		name="commit" 
		value=<%= changeButtonOnConfirmTask(task.confirmed) %>  
		data-disable-with="Save Task" 
		class="btn btn-success logoFont grow"
	>
</form>