
<%= showNavBar %>

<div id="homepage">

<% if user_signed_in? %>
<%= render template: "components/navbarLoggedIn"%>
<% else %>
<%= render template: "components/navbarNewUser"%>
<% end %>

<style>
body {
		margin: 0 auto;
		width: 100%;
		background-color: rgba(255,255,255);
}
</style>

<div class="index-foo">
			<div class="row">
				<div class="col-sm-6" id="banner1">
						Want to Give Back to the Community?
						<p class="pp" style="font-size:24px;"> View a variety of Tasks through specified filters to find the niche you enjoy.
						</p>
					</div>
				<div class="col-sm-6" id="banner2">
						Need Help with Something?
					<p class="pp" style="font-size:24px;"> Meet Task Manager. The app that connects you to other like minded individuals to meet your demands.</p>
					</div>
		</div>
		<div class="heading">
			<h1> How it Works </h1>
		</div>


<div class="how-it-works">
	<div class="main_container">
		<div id="image_container_1">
		</div>
		<div class="content">
		</div>
	</div>


</div>