<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATiUC-CYabYFtmwdk5Aw88h1PAyTP8zGI&libraries=places'></script>
<script>
	document.addEventListener("DOMContentLoaded", showAll);
</script>
<% end %>

<% if user_signed_in? %>
<%= render template: "components/navbarLoggedIn"%>
<% else %>
<%= render template: "components/navbarNewUser"%>
<% end %>

<div id='map'></div>