# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

$(document).ready =>

      username = gon.tasker
      $('#username').val(username)
      $('.username').removeClass('d-none')
      console.log("jquery")

      $('#chat-form').on 'ajax:success', (data) ->
        console.log("ajax-success")
        $('#chat-form')[0].reset()
        updateChat data.detail[0]
        return

      updateChat = (data) ->
	      if data.task_id == gon.taskId
	        $('.chat-box').append """
	          <div class="col-12">
	            <div class="chat bg-secondary d-inline-block text-left text-white mb-2">
	              <div class="chat-bubble">
	                <small class="chat-username">#{data.username}</small>
	                <p class="m-0 mt-2 chat-message">#{data.message}</p>
	              </div>
	            </div>
	          </div>
	        """
	        return

      pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',
        cluster: '<%= ENV["PUSHER_CLUSTER"] %>'
        encrypted: true)
      channel = pusher.subscribe('chat')
      channel.bind 'new', (data) ->
        updateChat data
        return
      return