// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	font-family: 'Raleway', sans-serif;
}

.innerDesc {
	display: block;
	height: 10em;
	overflow: scroll;
}

.registration {
	margin: 0 auto;
	text-align: center;
}

.mainCenter{
	margin: auto;
}

.alignCenter {
	text-align: center;
}

.logoFont {
	font-family: 'Cherry Swash', cursive;
}

.error {
	
}

#map {
    width: 600px;
    height: 400px;
}